# Import modules

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings(action='ignore')

/home/jupyter/.pyenv/versions/anaconda3-5.2.0/lib/python3.6/site-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

# Read data

In [2]:
f_name1 = '../RawData/AI챌린지 제출용 DB(ENT검사 진단명 메모 201009 ent)_train.xlsx'
df1 = pd.read_excel(f_name1)
df1.head()

,Gender,Height,Weight,BMI,Age,Diagnosis,VNG(%),SN,N_Speed,Cadence,...,F_Time_Toe_L,F_Time_Toe_R,F_ROM_IE_L,F_ROM_IE_R,F_ROM_DP_L,F_ROM_DP_R,F_ROM_AA_L,F_ROM_AA_R,F_GA,F_PCI
0,F,161.6,57.8,22.133247,56,1,34.6,1,3.6,109,...,58.0808,59.5960,-3.3594,-3.6204,-19.2725,-18.7159,1.3255,3.4032,0.4024,4.5818
1,F,159.7,63.1,24.741130,67,1,-23.0,1,4.5,123,...,58.0052,58.2677,-4.1746,-5.5163,-15.1512,-17.3908,2.9050,2.2089,0.0000,4.1874
2,M,178.4,64.3,20.203252,15,1,-30.9,1,3.6,107,...,58.1395,57.7519,-7.7560,-4.2548,-10.7108,-16.4205,3.7198,2.3644,2.2884,3.5692
3,M,168.7,74.3,26.107101,54,1,NaN,1,3.0,117,...,56.8254,58.4127,-6.9311,-3.1809,-19.4422,-19.9010,2.8803,0.2788,3.7458,8.2257
4,F,161.7,51.7,19.772906,35,1,NaN,2,4.0,108,...,57.6705,58.2386,-5.5098,-6.4519,-17.8605,-22.2839,1.2307,1.0525,2.0340,2.9959

In [3]:
f_name2 = '../RawData/AI챌린지 제출용 DB(20191128고신대정상군 201009정리)_train.csv'
df2 = pd.read_csv(f_name2)
df2.head()

,Gender,Height,Weight,BMI,N_Speed,Cadence,Stride_L,Stride_R,Step_L,Step_R,...,F_Time_Toe_L,F_Time_Toe_R,F_ROM_IE_L,F_ROM_IE_R,F_ROM_DP_L,F_ROM_DP_R,F_ROM_AA_L,F_ROM_AA_R,F_GA,F_PCI
0,F,156.0,57.0,23.422091,5.1,131,1.3373,1.3288,0.6687,0.6644,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,F,150.0,51.0,22.666667,3.6,111,1.1157,1.1186,0.5579,0.5593,...,59.0674,58.0311,-7.7089,-11.1515,-19.4599,-16.3573,3.4859,2.8381,1.2579,8.6205
2,F,152.0,52.0,22.506925,3.6,103,1.1857,1.1843,0.5929,0.5921,...,59.0726,59.4758,-5.6861,-5.7037,-14.1924,-14.6580,1.7929,1.2244,3.2656,7.1794
3,F,152.0,52.0,22.506925,3.6,109,1.0950,1.0967,0.5475,0.5483,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,M,164.0,69.0,25.654372,5.1,110,1.5413,1.5442,0.7707,0.7721,...,55.1546,56.7010,-9.6742,-8.1757,-12.8798,-11.5002,1.5916,0.8254,3.5091,2.8065

# Concat DataFrame

In [4]:
df1["Diagnosis_YN"] = np.full(len(df1), 1)
df2["Diagnosis_YN"] = np.full(len(df2), 0)

df1_cols = list(set(df1.columns.to_list())-set(df2.columns.to_list()))
df1 = df1.drop(df1_cols, axis=1)

In [5]:
df = pd.concat([df1, df2], axis=0)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1559 entries, 0 to 909
Data columns (total 65 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Gender        1559 non-null   object
 1   Height        1559 non-null   float64
 2   Weight        1559 non-null   float64
 3   BMI           1559 non-null   float64
 4   N_Speed       1559 non-null   float64
 5   Cadence       1559 non-null   int64
 6   Stride_L      1559 non-null   float64
 7   Stride_R      1559 non-null   float64
 8   Step_L        1559 non-null   float64
 9   Step_R        1559 non-null   float64
 10  SS_L          1559 non-null   float64
 11  SS_R          1559 non-null   float64
 12  DS_L          1559 non-null   float64
 13  DS_R          1559 non-null   float64
 14  Time_Toe_L    1559 non-null   float64
 15  Time_Toe_R    1559 non-null   float64
 16  ROM_IE_L      1559 non-null   float64
 17  ROM_IE_R      1559 non-null   float64
 18  ROM_DP_L      1559 non-null   float64
 19  ROM_DP_R      1559 non-null   float64
 20  ROM_AA_L      1559 non-null   float64
 21  ROM_AA_R      1559 non-null   float64
 22  GA            1556 non-null   float64
 23  PCI           1554 non-null   float64
 24  S_Speed       1552 non-null   float64
 25  S_Cadence     1552 non-null   float64
 26  S_Stride_L    1552 non-null   float64
 27  S_Stride_R    1552 non-null   float64
 28  S_Step_L      1552 non-null   float64
 29  S_Step_R      1552 non-null   float64
 30  S_SS_L        1552 non-null   float64
 31  S_SS_R        1552 non-null   float64
 32  S_DS_L        1552 non-null   float64
 33  S_DS_R        1552 non-null   float64
 34  S_Time_Toe_L  1552 non-null   float64
 35  S_Time_Toe_R  1552 non-null   float64
 36  S_ROM_IE_L    1552 non-null   float64
 37  S_ROM_IE_R    1552 non-null   float64
 38  S_ROM_DP_L    1552 non-null   float64
 39  S_ROM_DP_R    1552 non-null   float64
 40  S_ROM_AA_L    1552 non-null   float64
 41  S_ROM_AA_R    1552 non-null   float64
 42  S_GA          1551 non-null   float64
 43  S_PCI         1550 non-null   float64
 44  F_Speed       1465 non-null   float64
 45  F_Cadence     1465 non-null   float64
 46  F_Stride_L    1465 non-null   float64
 47  F_Stride_R    1465 non-null   float64
 48  F_Step_L      1465 non-null   float64
 49  F_Step_R      1465 non-null   float64
 50  F_SS_L        1465 non-null   float64
 51  F_SS_R        1465 non-null   float64
 52  F_DS_L        1460 non-null   float64
 53  F_DS_R        1462 non-null   float64
 54  F_Time_Toe_L  1465 non-null   float64
 55  F_Time_Toe_R  1465 non-null   float64
 56  F_ROM_IE_L    1465 non-null   float64
 57  F_ROM_IE_R    1465 non-null   float64
 58  F_ROM_DP_L    1465 non-null   float64
 59  F_ROM_DP_R    1465 non-null   float64
 60  F_ROM_AA_L    1465 non-null   float64
 61  F_ROM_AA_R    1465 non-null   float64
 62  F_GA          1465 non-null   float64
 63  F_PCI         1465 non-null   float64
 64  Diagnosis_YN  1559 non-null   int64
dtypes: float64(62), int64(2), object(1)
memory usage: 803.9+ KB

# Train-Test split

In [7]:
from sklearn.model_selection import train_test_split

y = df["Diagnosis_YN"]
X = df.drop(["Diagnosis_YN"], axis=1)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=215)

In [8]:
# 스코어보드 제출용 정답 파일
y_test.to_csv('../Data/Test_y.csv')

In [9]:
# 모델 학습과 평가를 위한 데이터 셋
train = pd.concat([X_train, y_train], axis=1)
test = pd.concat([X_test, y_test], axis=1)

train.to_csv('../Data/Train_all.csv', index=False)
test.to_csv('../Data/Test_all.csv', index=False)